[Unit]
Description=Homepage NOC Dashboard
After=network-online.target podman.socket
Wants=network-online.target
Requires=podman.socket

[Container]
Image=ghcr.io/gethomepage/homepage:latest
ContainerName=homepage
PublishPort=8282:3000
Volume=%h/homepage/config:/app/config:z
Volume=%h/homepage/config/icons:/app/public/icons:z
Volume=/run/user/1000/podman/podman.sock:/var/run/docker.sock:ro
Environment=HOMEPAGE_ALLOWED_HOSTS=192.168.0.251:8282,dash.lan
AutoUpdate=registry

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
